<h1>文件列表</h1>
<table class="table table-striped">
	<thead>
		<tr>
			<th></th>
			<th>文件名</th>
			<th>大小</th>
			<th>日期</th>
			<th>操作</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="device in vm.devices">
			<td><a href="">{{ }}</a></td>
			<td></td>
			<td>{{ }}</td>
			<td></td>
			<td>
				<button class="btn" ng-click="vm.chooseDevice(device.wxid)">
				<span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;选择
				</button>
			</td>
		</tr>
	</tbody>
</table>