<div class="row">
	<div class="col-md-3">
		<h3>选择文件</h3>
		<div ng-show="uploader.isHTML5">
			<a href="javascript:;" class="file-upload-btn">
				<span>选择单个或多个文件</span>
				<input name="attachment" type="file" nv-file-select="" uploader="uploader" multiple/>

			</a>

			<div nv-file-drop="" uploader="uploader" options="{ url: '/foo' }">
				<div nv-file-over="" uploader="uploader" over-class="another-file-over-class" class="well my-drop-zone">
					或拖动文件至此区域
				</div>
			</div>
		</div>
	</div>

	<div class="col-md-9">
		<h3>上传队列</h3>

		<p>队列长度: {{ uploader.queue.length }}</p>

		<table class="table">
			<thead>
			<tr>
				<th width="50%">文件名</th>
				<th ng-show="uploader.isHTML5">大小</th>
				<th ng-show="uploader.isHTML5 && false" >进度</th>
				<th ng-show="false">状态</th>
				<th>操作</th>
			</tr>
			</thead>
			<tbody>
			<tr ng-repeat="item in uploader.queue">
				<td><strong>{{ item.file.name }}</strong></td>
				<td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
				<td ng-show="false && uploader.isHTML5">
					<div class="progress" style="margin-bottom: 0;">
						<div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
					</div>
				</td>
				<td ng-if="false" class="text-center">
					<span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
					<span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
					<span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
				</td>
				<td nowrap>
					<button type="button" class="btn btn-success btn-xs" ng-click="vm.uploadFileItem(item);vm.disableCurrentBtn=true;"
							ng-disabled="item.isReady || item.isUploading || item.isSuccess">
						<span class="glyphicon glyphicon-upload"></span> 上传
					</button>
					<button ng-if="false" type="button" class="btn btn-warning btn-xs" ng-click="vm.abortUpload(item);"
							ng-disabled="!item.isUploading">
						<span class="glyphicon glyphicon-ban-circle"></span> 取消
					</button>
					<button type="button" class="btn btn-danger btn-xs" ng-click="vm.updateRemain(item);">
						<span class="glyphicon glyphicon-trash"></span> 删除
					</button>
				</td>
			</tr>
			</tbody>
		</table>

		<div>
			<div ng-if="true">
				进度条:
				<div class="progress" style="">
					<div class="progress-bar" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
				</div>
			</div>
			<button type="button" class="btn btn-success btn-s" ng-click="vm.uploadRemaining()"
					ng-disabled="!vm.isUploadAllButtonEnabled()">
				<span class="glyphicon glyphicon-upload"></span> 上传全部
			</button>
			<button ng-if="false" type="button" class="btn btn-warning btn-s" ng-click="uploader.cancelAll()"
					ng-disabled="!uploader.isUploading">
				<span class="glyphicon glyphicon-ban-circle"></span> 取消全部
			</button>
			<button type="button" class="btn btn-danger btn-s" ng-click="uploader.clearQueue()"
					ng-disabled="!uploader.queue.length">
				<span class="glyphicon glyphicon-trash"></span> 删除全部
			</button>
		</div>

	</div>
</div>
