<h1>自我介绍</h1>

<hr>
<input type="text" class="form-control" ng-model="vm.intro"/>
<hr>

<span class="btn btn-primary btn-xs pull-right" title="保存" ng-click="vm.setIntro()"> <i class="glyphicon glyphicon-floppy-disk"></i></span>