<div class="friends relative">
	<md-progress-circular md-mode="indeterminate" ng-if="!vm.isFriendsLoaded" class="position-absolute-center module-loading-cicular"></md-progress-circular>

	<div ng-if="vm.isFriendsLoaded">
		<h1>共 {{vm.items.length}} 个好友</h1>
		<div class="input-group pull-right global-search">
			<label class="input-group-addon">快速搜索</label>
			<input type="text" class="form-control" ng-model="vm.filter.nickName"/>
		</div>
		<table class="table table-bordered table-hover">
			<thead>
				<tr>
					<th rowspan="2" class="friends-checkbox">
						<input type="checkbox" ng-model="vm.allChecked" ng-change="vm.checkAll(vm.allChecked)"/>
					</th>
					<th rowspan="2" class="friends-nickname">昵称</th>
					<th rowspan="2">备注</th>
					<th rowspan="2">操作</th>
				</tr>
			</thead>
			<tbody ng-if="vm.items">
				<tr ng-repeat="item in vm.items | filter: vm.filter | orderBy: nickName | paging:vm.page.index:vm.page.size">
					<td class="friends-checkbox">
						<input type="checkbox" ng-model="item.$checked"/>
					</td>
					<td class="friends-nickname">
						<a ignore-href="#wxid/{{item.wxid}}">
							<img ng-src="{{item.img2}}" class="avatar" alt="{{item.nickName}}"
							title="{{item.nickName}}">
							<span class="nick-name-text">{{item.nickName}}</span>
						</a>
					</td>
					<td class="text-center">{{item.remark}}</td>
					<td class="dropdown">
						<div class="friend-view-info relative">
							<span class="btn btn-primary btn-xs dropdown-toggle" type="button" id="dropdownMenu2"
								data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="点此查看详情">
								<i class="glyphicon glyphicon-info-sign"></i> 查看详情
							</span>
							<div class="panel-body dropdown-menu" aria-labelledby="dropdownMenu2">
								<h3>{{item.id}} - {{item.nickName}}</h3>
								粉丝：{{item.followers|number}}
								<br/>
								生日：{{item.birthday|date}}
								<br/>
								年龄：{{vm.age(item.birthday)}}岁
								<br/>
								收入：{{item.income|currency}}
							</div>

							<span class="btn btn-success btn-xs" ng-click="vm.chatWithFriend(item)">
								<i class="glyphicon glyphicon-comment"></i>  聊天
							</span>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
		<div class="friend-chosen-items">
			<p>选中的好友：</p>
			<div class="friend-chosen-items-container" >
				<label class="label label-success" ng-repeat="item in vm.selection()">{{item.nickName}}</label>
			</div>
		</div>
	</div>
</div>