<div class="col-md-9">
	<div>
		<form ng-submit="vm.preProcess()" >
			<div class="form-group">
				<label for="content">发消息</label>
				<hr>
				<textarea rows="10" cols="80" placeholder="输入文本，语音地址或者图片地址，每行一个, 默认20秒间隔发送一个" ng-model="vm.formData.data">
				</textarea>
			</div>
			<button type="submit" class="btn btn-success">
			发送
			</button>
		</form>
		
		接收方：<label>
			<select class="form-control" ng-change="vm.selectAction()" ng-model="vm.value" ng-options="city.label for city in vm.cities" >
				<option value=""> 自定义 </option>
			</select>
		</label>
		<label><input type="checkbox" ng-model="vm.checked"/>&nbsp;定时发送</label>
		<div ng-show="vm.checked">
			总体延迟秒数：
			<input ng-show="vm.checked" type="number" class="form-inline" ng-model="vm.delayTime" placeholder ="延迟 单位 秒"/>
			<hr>
			消息间隔时间：
			<input ng-show="vm.checked" type="number" class="form-inline" ng-model="vm.intervalTime" placeholder =" 单位 秒"/>
			<hr>
		</div>
		
		
		<div>
			<pre ng-if="!vm.item.$editing" >{{ vm.myreceiver }} </pre>
			<span class="btn btn-primary btn-xs pull-right" title="编辑" ng-if="!vm.item.$editing" ng-click="vm.item.$editing = true"> <i class="glyphicon glyphicon-pencil"></i> </span>
			<input type="text" class="form-control" ng-model="vm.myreceiver" ng-if="vm.item.$editing"/>
			<span class="btn btn-primary btn-xs pull-right" title="保存" ng-if="vm.item.$editing" ng-click="vm.setReceiver()"> <i class="glyphicon glyphicon-floppy-disk"></i> </span>
		</div>
	</div>
</div>