html,
body {
	line-height: 1.6;
	font-family: "Helvetica Neue", "Hiragino Sans GB", "Microsoft YaHei", Arial, sans-serif;
	color: #222;
	font-size: 14px;
	background: #e7e8eb;
	overflow-y: auto;
	width: 100%;
	height: 100%;
}

ul {
	margin: 0;
	padding: 0;
}

/*Helpers*/
.word-no-wrap {
	white-space: nowrap;
}

.pointer {
	cursor: pointer;
}

.display-block {
	display: block;
}

.inline-block {
	display: inline-block;
}

.relative {
	position: relative;
}

.position-absolute-center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
}

.text-left {
	text-align: left;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.unselectable {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none
}

.outline-none,
.outline-none:hover
.outline-none:focus,
.outline-none:active,
.outline-none:visited {
	outline: none;
}

/*Common*/
.module-loading-cicular {
	top: 150px;
}

/*Navbar*/
.navbar-nav > li > a:hover {
	color: #459ae9;
	text-decoration: underline;
}

.top-header {
	background: #ffffff;
	border-top: 4px solid #44B549;
	border-bottom: 1px solid #d9dadc;
	height: 65px;
	margin: 0;
}

.top-header .navbar-header {
	padding-top: 8px;
}

.top-header .navbar-brand {
	padding-top: 8px;
	display: block;
	width: 248px;
	height: 40px;
	overflow: hidden;
	text-decoration: none;
	background: url('../img/wxweblogo.png');
}

.top-header .navbar-right {
	background: #ffffff;
	padding-top: 10px;
}

.login-buttons {
	background-color: white;
	z-index: 1;
}

.login-buttons a {
	border: none;
	outline: none;
}

.login-buttons .no-link a {
	width: 1px;
	padding-left: 0;
	padding-right: 0;
}

.login-buttons .no-link a:hover {
	text-decoration: none;
}

@media(max-width:768px) {
	.login-buttons {
		box-shadow: 0px 3px 1px 2px #eee;
	}

	.login-buttons .no-link {
		display: none;
	}

}

.current-device-name a:hover {
	text-decoration: none;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
	margin-top: 0;
	margin-bottom: 0;
	line-height: 40px;
}

/* Sidebar navigation */
.sidebar {
	padding: 0;
}

.nav-sidebar > li > a {
	padding-right: 20px;
	padding-left: 20px;
}

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
	color: #fff;
	background-color: #428bca;
}

.sidebar-divider {
	margin: 0;
}

/*
 * Main content
 */
.layout-container {
	clear: both;
	padding-top: 1em;
	padding-bottom: 1em;
	transition: all 0.35s ease-in-out;
	height: calc(100% - 65px - 67px);
}

.layout-container .container {
	padding: 0px;
	background: #ffffff;
	border: 1px solid #d9dadc;
	transition: all 0.35s ease-in-out;
	height: 100%;
}

.main {
	padding: 0;
	border-left: 1px solid #E7E7EB;
	overflow: auto;
	height: 100%;
}

.main .page-header {
	margin-top: 0;
}

.avatar {
	width: 50px;
	height: 50px;
	border-radius: 3px;
}

/*Global table*/
table tbody {
	display: block;
	min-height: 200px;
	overflow-y: scroll;
}

table thead,
tbody tr {
	display: table;
	width: 100%;
	table-layout: fixed;
}

table thead {

	/*width: calc(100% - 1em)*/
}

/*Group*/
.group .group-intro-text {
	width: 100%;
	min-height: 200px;
}

.group-intro-time-interval {
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	display: block;
	padding: 2px 12px;
}

/*Groups*/
.groups table td {
	word-break: break-all;
}

.groups-checkbox {
	width: 40px;
}

.groups-wxid {
	width: 200px;
}

.groups .row div {
	margin: 5px 0;
}

.groups table td .popover {
	right: 0;
	left: initial;
}

.groups-chosen-item {
	margin-bottom: 100px;
}

.groups-chosen-item label {
	margin: 5px 0;
	display: inline-block;
}

table thead th {
	cursor: default;
}

table thead th.sortable {
	cursor: pointer;
}

.relative .popover {
	width: 200px;
}

.pagination-sm {
	margin: 0;
}

.global-search {
	margin-bottom: 5px;
}

.list-group-item {
	word-wrap: break-word;
}

/*Group-send*/
.tab-content.tab-bordered {
	border: 1px solid #e1e2e3;
	border-top: none;
	padding: 15px;
	border-radius: 0 0 4px 4px;
}

.card {
	width: 50%;
	min-height: 20px;
	padding: 19px;
	margin-bottom: 20px;
	background-color: #f5f5f5;
	border: 1px solid #e3e3e3;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
	float: right;
	display: block;
}

.wxid-input {
	width: 300px;
}

.tab-content.tab-bordered {
	border: 1px solid #D3D3D3;
	border-top: none;
	padding: 15px;
	border-radius: 0 0 4px 4px;
}

/*Group-forward*/
.repeat.ng-enter,
.repeat.ng-leave {
	-webkit-transition: 0.5s linear all;
	transition: 0.5s linear all;
}

.repeat.ng-enter,
.repeat.ng-leave.ng-leave-active {
	opacity: 0;
}

.repeat.ng-leave,
.repeat.ng-enter.ng-enter-active {
	opacity: 1;
}

/*Group-intro*/
.group-intro table td {
	word-break: break-all;
}

.group-intro .row div {
	margin: 5px 0;
}

/*Friends*/
.friends-checkbox {
	width: 40px;
}

.friends-nickname {
	width: 200px;
}

.friends-nickname a {
	width: 100%;
}

.nick-name-text {
	width: calc(100% - 55px);
	max-width: 140px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	display: inline-block;
}

.friends table td {
	word-break: break-all;
}

.friends table .friend-view-info .panel-body {
	position: absolute;
	top: 110%;
	right: 0;
	left: initial;
}

.friends .row div {
	margin: 5px 0;
}

.friend-view-info {
	height: 20px;
}

.friend-send-message {
	margin-top: 5px;
}

.friend-chosen-items {
	margin-bottom: 80px;
}

.friend-chosen-items label {
	margin: 5px;
	display: inline-block;
}

.friend-chosen-items-container {
	max-height: 300px;
	overflow-y: auto;
}

/*Chat*/
.chat-tofriend-nickname {
	width: 100%;
	text-align: center;
	margin: 0;
	padding: 5px 0;
}

.chat-messages {
	min-height: 300px;
	max-height: 300px;
	overflow-y: scroll;
	padding: 20px 20px 20px 10px;
	border-top: 1px solid #eee;
}

.chat-message-item {
	display: block;
	width: 100%;
	min-height: 20px;
	font-size: 20px;
	clear: both;
}

.chat-message-item img.avatar {
	margin-right: 10px;
	vertical-align: top;
}

.chat-message-item img.avatar.pull-right {
	margin-right: 0;
	margin-left: 10px;
}

.chat-message-item p.label {
	margin: 0 0 10px 0;
	padding: .6em;
	text-align: left;
	display: inline-block;
	white-space: pre-wrap;
	word-break: break-word;
	min-height: 50px;
	min-width: 50px;
	max-width: 60%;
	line-height: 1.5;
	font-weight: 400;
}

.chat-message-item p.label.friend-message:before {
	position: absolute;
	right: 100%;
	top: 15px;
	border-top: 6px solid transparent;
	border-right: 4px solid #5bc0de;
	border-bottom: 6px solid transparent;
	content: ""
}

.chat-message-item p.label.my-message:after {
	position: absolute;
	left: 100%;
	top: 15px;
	border-top: 6px solid transparent;
	border-left: 4px solid #5cb85c;
	border-bottom: 6px solid transparent;
	content: ""
}

.chat-input-container {
	width: 100%;
	position: absolute;
	bottom: 0;
}

.chat-input-container textarea {
	width: 100%;
	border: none;
	border-top: 1px solid #eee;
	resize: none;
}

.chat-input-tips {
	position: absolute;
	right: 106px;
	bottom: 6px;
	text-align: right;
}

.chat-input-send {
	position: absolute;
	right: 0;
	bottom: 0;
}

/*File upload*/
.file-upload-btn {
	position: relative;
	display: inline-block;
	background: #D0EEFF;
	border: 1px solid #99D3F5;
	border-radius: 4px;
	padding: 4px 12px;
	overflow: hidden;
	color: #1E88C7;
	text-decoration: none;
	text-indent: 0;
	line-height: 20px;
}

.file-upload-btn input {
	position: absolute;
	font-size: 100px;
	right: 0;
	top: 0;
	opacity: 0;
}

.file-upload-btn:hover {
	background: #AADFFD;
	border-color: #78C3F3;
	color: #004974;
	text-decoration: none;
}

/* Custom page footer */
.footer {
	position: static;
	font-size: 12px;
	padding: 24px 0;
	color: #f1f1f1;
	text-align: center;
	background-color: #b8b9b9
}

.footer a {
	text-decoration: underline;
	color: #ffffff;
}

/*Web WeiXin logon*/
.web-weixin-img img {
	width: 100%;
}