<div class="groups">
	<h1>共 {{vm.groupsList.length}} 群组</h1>
	<div class="input-group pull-right global-search">
		<label class="input-group-addon">全局搜索</label>
		<input type="text" class="form-control" ng-model="vm.filter.$"/>
	</div>
	<table class="table table-bordered table-hover">
		<thead>
			<tr>
				<th rowspan="2" class="groups-checkbox">
					<input type="checkbox" ng-model="vm.allChecked" ng-change="vm.checkAll(vm.allChecked)"/>
				</th>
				<th ng-repeat="column in vm.columns" ng-if="!column.hidden" ng-click="vm.sort.toggle(column)"
					ng-class="{sortable: column.sortable !== false, 'groups-wxid': column.label == 'wxid'}"> 
					{{column.label}} 
					<i ng-if="column.name === vm.sort.column && vm.sort.direction" class="glyphicon {{vm.sort.direction|orderClass}}"></i>
				</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="item in vm.groupsList|filter:vm.filter|orderBy:vm.sort.column:vm.sort.direction===-1|paging:vm.page.index:vm.page.size">
				<td class="groups-checkbox">
					<input type="checkbox" ng-model="item.$checked"/>
				</td>
				<td class="groups-wxid">
					<a href="#/group/{{item.wxid}}" class="thumb word-no-wrap">{{item.wxid}}</a>
					<span class="btn btn-primary btn-xs pull-right" title="编辑" ng-if="!item.$editing"
						ng-click="item.$editing = true">
						<i class="glyphicon glyphicon-pencil"></i>
					</span>
					<span class="btn btn-primary btn-xs pull-right" title="保存" ng-if="item.$editing"
						ng-click="item.$editing = false">
						<i class="glyphicon glyphicon-floppy-disk"></i>
					</span>
				</td>
				<td><span ng-if="!item.$editing">{{item.nickname}}</span>
					<input type="text" class="form-control" ng-model="item.nickname" ng-if="item.$editing"/>
				</td>
				<td class="text-right">
					<span ng-if="!item.$editing">{{item.count}}</span>
				</td>
				<td class="text-right">
					<span ng-if="!item.$editing">{{item.roomowner}}</span>
					<input type="number" class="form-control" ng-model="item.income" ng-if="item.$editing"/>
				</td>
				<td>
					<span class="btn btn-primary btn-xs" title="详情" ng-mouseenter="item.popover=true" ng-mouseleave="item.popover=false">
					<i class="glyphicon glyphicon-comment"></i>
					</span>
					<div class="relative" ng-mouseenter="item.popover=true" ng-mouseleave="item.popover=false">
						<div class="popover" ng-style="{display: item.popover?'block':'none'}">
							<div class="popover-title">
								{{item.id}} - {{item.nickname}}
							</div>
							<div class="popover-content">
								粉丝：{{item.followers|number}}
								<br/>
								生日：{{item.birthday|date}}
								<br/>
								年龄：{{vm.age(item.birthday)}}岁
								<br/>
								收入：{{item.income|currency}}
							</div>
						</div>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
	<div class="row">
		<div class="col-sm-3 col-md-3 col-lg-3">
			<select ng-model="vm.page.size" class="form-control" title="每页条目数" ng-options="pageSize for pageSize in [10, 20, 100]"></select>
		</div>
		<div class="col-sm-9 col-md-9 col-lg-9">
			<pagination total-items="vm.groupsList|filter:vm.filter|size" ng-model="vm.page.index" max-size="5" items-per-page="vm.page.size" first-text="首页" previous-text="上一页" next-text="下一页" last-text="尾页" class="pagination-sm pull-right" boundary-links="true" rotate="fasle"></pagination>
		</div>
	</div>
	<div class="groups-chosen-item">
		<p>选中的项：</p>
		<label class="label label-success" ng-repeat-start="item in vm.selection()">{{item.wxid}}</label>
		<span ng-if="!$last && $index % 5 !== 4">, </span>
		<br ng-repeat-end ng-if="$index % 5 === 4"/>
	</div>
</div>