<div class="group">
	<h1>我的群组</h1>
	<span>群 id: {{ vm.wxid }}</span>
	<hr>
	<span>群 名: {{ vm.name }}</span>
	<hr>
	<!-- vm.groupInfo.name
	vm.groupInfo.id -->
	<span>群主：{{vm.groupInfo.owner}}</span>
	<hr>
	<span>{{vm.groupInfo.member.Dizzy}}</span>
	<span>共有 {{vm.groupInfo.member.length}} 名群成员</span>
	<ul ng-repeat="item in vm.groupInfo.member">
		<li> {{item.key}}</li>
	</ul>
	{{vm.groupInfo.member.Dizzy}}
	群介绍：<span ng-if="!vm.editing">{{ vm.intro }} </span>
	<textarea class="group-intro-text" ng-model="vm.intro" ng-if="vm.editing"></textarea>
	<hr>
	<form class="form-inline">
		<div class="form-group">
			<div class="input-group">
				<div class="input-group-addon">群介绍时间间隔：</div>
				<span ng-show="!vm.editing" class="form-inline group-intro-time-interval"> {{
				vm.time }} </span>
				<input ng-show="vm.editing" type="text" class="form-inline" ng-model="vm.time" placeholder="time">
				<div class="input-group-addon">秒</div>
			</div>
		</div>
		<span class="btn btn-primary btn-xs pull-right" title="编辑" ng-show="!vm.editing" ng-click="vm.editing = true"> <i
		class="glyphicon glyphicon-pencil"></i> </span>
		<span class="btn btn-primary btn-xs pull-right" title="保存" ng-show="vm.editing" ng-click="vm.setIntro()"> <i
		class="glyphicon glyphicon-floppy-disk"></i></span>
	</form>
	<hr>
</div>