<h1>设备页面</h1>
<div class="row placeholders">
	<div class="col-xs-6 col-sm-3 placeholder">
		<img ng-src="./img/avatar.png" class="img-responsive" alt="Generic placeholder thumbnail">
		<h4>Label</h4>
		<span class="text-muted">Something else</span>
	</div>
	<div class="col-xs-6 col-sm-3 placeholder">
		<img ng-src="./img/avatar.png"  class="img-responsive" alt="Generic placeholder thumbnail">
		<h4>Label</h4>
		<span class="text-muted">Something else</span>
	</div>
	<div class="col-xs-6 col-sm-3 placeholder">
		<img ng-src="./img/avatar.png"  class="img-responsive" alt="Generic placeholder thumbnail">
		<h4>Label</h4>
		<span class="text-muted">Something else</span>
	</div>
	<div class="col-xs-6 col-sm-3 placeholder">
		<img ng-src="./img/avatar.png"  class="img-responsive" alt="Generic placeholder thumbnail">
		<h4>Label</h4>
		<span class="text-muted">Something else</span>
	</div>
</div>
<h2 class="sub-header">Section title</h2>
<table class="table table-striped">
	<thead><tr>
		<th>账号昵称</th>
		<th>登录账号</th>
		<th>设备信息</th>
		<th>状态</th>
		<th>管理</th>
	</tr></thead>
	<tbody><tr ng-repeat="account in accounts">
		
		<td><a href="#/account/{{ account.id }}">{{ account.name }}</a></td>
		<td>{{ account.id }}</td>
		<td> Mi2 </td>
		<td> 在线 </td>
		<td>
			<button class="btn" ng-click="editUser(account.id)">
			<span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;Edit
			</button>
		</td>
	</tr></tbody>
</table>