<h1>{{vm.title}}</h1>
<ul class="list-group">
	<li class="list-group-item repeat" ng-repeat="item in vm.items">
		<mark>{{item.key}}</mark> : {{item.value}}
		<button type="button" class="close" ng-click="vm.delItem($index)" ng-show="vm.clicked">&times;</button>
	</li>
</ul>
<button class="btn btn-deauflt" ng-show="!vm.clicked" ng-click ="vm.clicked = true"> 编辑 </button>
<form ng-submit="vm.addAndSetItems()" ng-show="vm.clicked">
	<input type="text" class="form-inline" name="keyword" placeholder="key" ng-model="vm.formData.keyword">
	<input type="text" class="form-inline" name="roomId" placeholder="value" ng-model="vm.formData.roomId">
	<button type="submit"  class="btn btn-success">保存 </button>
</form>
<button class="btn btn-deauflt" ng-show="vm.clicked" ng-click ="vm.clicked = false">  取消编辑 </button>