<!DOCTYPE html>
<html ng-app="wxWeb">
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="shortcut icon" href="./img/wxweb.ico" />
		<link rel="stylesheet" type="text/css" href="dist/dependencies.min.css">
		<link rel="stylesheet" type="text/css" href="dist/style.min.css" >

		<!-- 库文件 -->
		<script type="text/javascript" src="wilddog.min.js"></script>
		<script type="text/javascript" src="dist/dependencies.min.js"></script>
	</head>
	<body ng-controller="wxWebController as vm">
		<!-- header -->
		<header class="navbar navbar-static-top bs-docs-nav navbar-default top-header" id="top" role="banner">
			<div class="container">
				<div class="navbar-header">
					<button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#bs-navbar" aria-controls="bs-navbar" aria-expanded="true">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					</button>
					<a ui-sref="#" class="navbar-brand text-muted" title="微信·智能后台"></a>
				</div>
				
				<nav id="bs-navbar" class="collapse navbar-collapse login-buttons">
					<ul class="nav navbar-nav navbar-right">
						<li>
							<a ng-if="!vm.isUserLogin()" ui-sref="login" data-toggle="modal" data-target-temp-disabled="#myLoginModal">登录</a>
						</li>
						<li class="current-device-name pointer" ng-show="vm.isUserLogin()">
							<a ui-sref="devices">当前设备: {{vm.user.deviceName}}</a>
						</li>
						<li class="no-link" ng-show="vm.isUserLogin()"> <a> | </a></li>
						<li ng-show="vm.isUserLogin()">
							<a ui-sref="logout" ng-click="vm.logout()">用户 {{vm.user.userId}} 登出</a>
						</li>
						<li class="no-link"> <a> | </a></li>
						<li>
							<a ui-sref="about">关于</a>
						</li>
					</ul>
				</nav>
			</div>
		</header>

		<div class="layout-container">
			<div class="container">
				<div class="col-xs-3 col-sm-3 col-md-2 sidebar">
					<ul class="nav nav-sidebar">
						<li>
							<a ui-sref="devices">设备列表 <span class="sr-only">(current)</span></a>
						</li>
						<li>
							<a ui-sref="friends">好友管理</a>
						</li>
						<li>
							<a ui-sref="groups">群组管理</a>
						</li>
						<hr class="sidebar-divider"/>
						<li ng-show="vm.user.isDebug">
							<a ui-sref="media">素材管理</a>
						</li>
						<li ng-show="vm.user.isDebug">
							<a ui-sref="upload">素材上传</a>
						</li>
						<li>
							<a ui-sref="groupSend">群发信息</a>
						</li>
						<li ng-hide="true">
							<a ui-sref="autoReply">自动回复</a>
						</li>
						<li>
							<a ui-sref="groupIntro">群介绍</a>
						</li>
						<li>
							<a ui-sref="selfIntro">自我介绍</a>
						</li>
						<hr class="sidebar-divider"/>
						<li>
							<a ui-sref="groupInvite">群邀请</a>
						</li>
						<li>
							<a ui-sref="groupForward">用户分组</a>
						</li>
						<li>
							<a ui-sref="wxweb">Web微信登录</a>
						</li>
						<li class="disabled" ng-hide="true">
							<a ui-sref="forward">公众号转发助手</a>
						</li>
					</ul>
				</div>

				<div ui-view class="col-xs-9 col-sm-9 col-md-10 main" id="content"></div>

			</div>
		</div>
		<footer class="footer">
			&copy; VEN 2016 | <a ui-sref="contact">Contact Us</a>
		</footer>

		<!-- 项目文件 -->
		<script type="text/javascript" src="dist/templates.js" defer="defer"></script>
		<script type="text/javascript" src="dist/main.js" defer="defer"></script>
	</body>
</html>