<div class="group-intro">
	<h1> 共有 {{vm.items.length}} 群</h1>
	<h4>群介绍</h4>
	<div class="input-group pull-right global-search">
		<label class="input-group-addon">全局搜索</label>
		<input type="text" class="form-control" ng-model="vm.filter.$"/>
	</div>
	<table class="table table-bordered table-hover">
		<thead>
			<tr>
				<th ng-repeat="column in vm.columns" ng-if="!column.hidden" ng-click="vm.sort.toggle(column)"
					ng-class="{sortable: column.sortable !== false}"> {{column.label}} <i
					ng-if="column.name === vm.sort.column && vm.sort.direction"
					class="glyphicon {{vm.sort.direction|orderClass}}"></i>
				</th>
			</tr>
		</thead>
		<tbody style="width: 100%">
			<tr ng-repeat="item in vm.items|filter:vm.filter|orderBy:vm.sort.column:vm.sort.direction===-1|paging:vm.page.index:vm.page.size">
				<td><a href="#/group/{{item.key}}" class="thumb word-no-wrap">{{item.key}}</a>
				<span>{{item.name}}</span>
			</td>
			<td class="text-right"><span ng-if="!item.$editing" style="word-break: break-all">{{item.value}}</span>
			<input type="text" class="form-control" ng-model="item.value" ng-if="item.$editing"/>
		</td>
		<td class="text-right">
			<a class="btn btn-primary btn-xs pull-right" ng-href="#/group/{{item.key}}"> <i
			class="glyphicon glyphicon-pencil"></i> 编辑</a>
		</td>
	</tr>
	</tbody>
	</table>
	
	<div class="row">
		<div class="col-sm-3 col-md-3 col-lg-3">
			<select ng-model="vm.page.size" class="form-control" title="每页条目数"
			ng-options="pageSize for pageSize in [10, 20, 100]"></select>
		</div>
		<div class="col-sm-9 col-md-9 col-lg-9">
			<pagination total-items="vm.items|filter:vm.filter|size" ng-model="vm.page.index" max-size="5"
				items-per-page="vm.page.size" first-text="首页" previous-text="上一页" next-text="下一页" last-text="尾页"
				class="pagination-sm pull-right" boundary-links="true" rotate="false" style="clear: both">
			</pagination>
		</div>
	</div>	
</div>