<div class="col-md-9">
	<ul class="nav nav-tabs" ng-init="vm.activeTab=1">
		<li ng-class="{active: vm.activeTab == 1}">
			<a href="javascript:;" ng-click="vm.activeTab = 1"> <span class="glyphicon glyphicon-pencil"></span> 文本</a>
		</li>
		<li ng-class="{active: vm.activeTab == 2}">
			<a href="javascript:;" ng-click="vm.activeTab = 2"> <span class="glyphicon glyphicon-music"></span>
				语音</a>
		</li>
		<li ng-class="{active: vm.activeTab == 3}">
			<a href="javascript:;" ng-click="vm.activeTab = 3"> <span class="glyphicon glyphicon-picture"></span> 图片</a>
		</li>
	</ul>

	<div class="tab-content tab-bordered">
		<div class="tab-panel" ng-show="vm.activeTab == 1">
			<form ng-submit="vm.processForm('text')">
				<div class="form-group">
					<label for="content-message">发消息</label>
					<textarea rows="10" cols="80" class="form-control" id="content-message" name="data" placeholder="说点什么" ng-model="vm.formData.data"> </textarea>
				</div>
				<button type="submit" class="btn btn-success">
					发送
				</button>
			</form>
		</div>
		<div class="tab-panel" ng-show="vm.activeTab == 2">
			<form ng-submit="vm.processForm('audio')">
				<div class="form-group">
					<label for="content-audio">发消息</label>
					<input type="url" class="form-control" id="content-audio" name="data" placeholder="说点什么" ng-model="vm.formData.data"/>
				</div>
				<button type="submit" class="btn btn-success">
					发送
				</button>
			</form>
		</div>
		<div class="tab-panel" ng-show="vm.activeTab == 3">
			<a href="#upload">
				<button class="btn btn-default">上传图片</button>
			</a>
			<form ng-submit="vm.processForm('image')">
				<div class="form-group">
					<label for="content-image">发消息</label>
					<input type="url" class="form-control" id="content-image" name="data" placeholder="说点什么" ng-model="vm.formData.data"/>
				</div>
				<button type="submit" class="btn btn-success">
					发送
				</button>
			</form>
		</div>
	</div>

	<span>接收方：</span>
	<label>
		<select class="form-control" ng-change="vm.selectAction()" ng-model="vm.value"
				ng-options="city.label for city in vm.cities">
			<option value=""> 自定义</option>
		</select>
	</label>

	<label><input type="checkbox" ng-model="vm.checked"/>&nbsp;定时发送</label>
	<input ng-show="vm.checked" type="number" class="form-inline" ng-model="vm.delaytime" placeholder="延迟 单位 秒"/>

	<div class="pull-right">发送设备为：{{vm.deviceName}}
		<span class="btn btn-primary btn-xs pull-right" title="编辑" ng-if="!vm.item.$editing" ng-click="vm.item.$editing = true">
			<i class="glyphicon glyphicon-pencil"></i>
		</span>
	</div>

	<div>
		<pre ng-show="!vm.item.$editing">{{ vm.myreceiver }} </pre>

		<input type="text" class="form-control" ng-model="vm.myreceiver" ng-if="vm.item.$editing"/>
			<span class="btn btn-primary btn-xs pull-right" title="保存" ng-if="vm.item.$editing"
				  ng-click="vm.setReceiver()"> <i class="glyphicon glyphicon-floppy-disk"></i> </span>
	</div>

	<a href="#batch-group-send" class="btn btn-default">批量群发</a>
</div>

<div class="col-md-3">
	<ul class="nav nav-sidebar">
		<li class="active">
			<a href="">全部用户</a>
		</li>
		<li class="disabled">
			<a href="">默认组</a>
		</li>
		<li class="disabled">
			<a href="">星标组</a>
		</li>
	</ul>
</div>

<div class="modal fade" id="addGroups" tabindex="-1" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">

			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<span>选择好友/群</span>
				<input class="modal-title" ng-model="vm.keyword"/>
			</div>

			<div class="modal-body">
				{{vm.results}}
			</div>

			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">
					完成
				</button>
			</div>
		</div>
	</div>
</div>
