<div class="login">
	<h1>登录</h1>
	<div ng-hide="vm.isUserLogin()">
		<form ng-submit="vm.login()">
			<span>用户名：</span>
			<input type="text" class="modal-title" ng-model="vm.loginData.userName"/>
			<span>密码：</span>
			<input type="password" ng-model="vm.loginData.password"/>
			<input type="submit" class="btn btn-primary" value="登录"/>
		</form>
		<div class="modal fade" id="myLoginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
			aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<form ng-submit="vm.login()">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
							<span>用户名：</span>
							<input class="modal-title" ng-model="vm.loginData.userName"/>
						</div>
						<div class="modal-body">
							<span>&nbsp;&nbsp;&nbsp;&nbsp;密码：</span>
							<input type="password" ng-model="vm.loginData.password"/>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">
							关闭
							</button>
							<input type="submit" class="btn btn-primary" value="登录" ng-click="vm.hideLoginDialog()"/>
						</div>
					</form>
				</div>
				
			</div>
		</div>
	</div>

	<p ng-if="vm.isUserLogin()">你已经登录了</p>
</div>