<form ng-submit="vm.login()" >
	<div class="form-group">
		<label for="content">登录地址</label>
		<input type="url" class="form-control" name="data" placeholder="二维码地址" ng-model="vm.qrurl">
	</div>
	<button type="submit" class="btn btn-success">
		登录
	</button>
</form>
<hr>
<a href="https://wx.qq.com/" target="_blank" class="btn btn-success">前往 Web 微信</a>
<hr>
<div class="web-weixin-img">
	<img src="../app/img/wxweb.png" title="获取二维码地址">
</div>