<div class="device">
	<md-progress-circular md-mode="indeterminate" ng-if="!vm.isDevicesLoaded" class="position-absolute-center module-loading-cicular"></md-progress-circular>
	<div ng-if="vm.isDevicesLoaded" >
		<h1>首页</h1>
		当前共有 {{ vm.devices.length }} 台设备, 目前操控的设备为 {{vm.user.deviceName}}
		<table class="table table-striped">
			<thead>
				<tr>
					<th>账号昵称</th>
					<th ng-hide="true">登录账号</th>
					<th>上次在线</th>
					<th>状态</th>
					<th>管理</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="device in vm.devices">
					<td><a href="#/account/{{ device.wxid }}">{{ device.account_name }}</a></td>
					<td ng-hide="true"> </td>
					<td>{{ device.last_online }} </td>
					<td> {{device.status}}</td>
					<td>
						<button class="btn" ng-click="vm.chooseDevice(device)">
						<span class="glyphicon glyphicon-pencil"></span>&nbsp;选择
						</button>
					</td>
				</tr>
			</tbody>
		</table>
		<hr>
		<button class="btn btn-success" ng-click="vm.getData()">
		<span class="glyphicon glyphicon-user"></span> Create New User
		</button>
		<hr>
	</div>
</div>