<p>
	<span style=" ;color:#ff0000">自动邀请用户加入群组</span>
</p>
<p>
	&nbsp; 创建群之后，将智能账号拉入群中，在 <span style="color:#548dd4">自动群邀请</span> 中设置 关键字 和对应的群号，之后用户
</p>
<p>
	向智能账号发送对应的关键字就会被自动邀请到对应的群中，如果关键字前加上<span style="color:#548dd4">@</span>符号，则会
</p>
<p>
	要求用户在发送关键字之后发多一张图片才会邀请用户进群
</p>
<p>
	<span style=" ;color:#7f7f7f;font-size:12px">Ps: 经使用发现，微信有限制一个账号一天只能加200个好友，所以这个功能不适合大范围使用了</span>
</p>
<p>
	<span style=" ;">
		<br/>
	</span>
</p>
<p>
	<span style=" ;color:#ff0000">自动发送群介绍</span>
</p>
<p>
	&nbsp; &nbsp; &nbsp; &nbsp;在群组管理，可以点击群 id，为群设置群介绍和间隔时间，默认间隔时间为0，即会为每
</p>
<p>
	个新人进来都会介绍一遍群规则
</p>
<p>
	<br/>
</p>
<p>
	<span style=" ;color:#ff0000">用户分组</span>
</p>
<p>
	<span style=" ;"></span>
</p>
<p style="white-space: normal;">
	<span style=" ;">&nbsp; &nbsp; &nbsp; &nbsp;在用户分组根据键值对对用户进行分组，在发送消息的时候可以直接指定接收人为</span>
</p>
<p style="white-space: normal;">
	<span style=" ;">用户分组中设置的分组名，此方式设置的分组还可以用于转发消息。</span>
</p>
<p>
	<span style=" ;">
		<br/>
	</span>
</p>
<p>
	<span style=" ;color:#ff0000">群发：</span>
</p>
<p>
	<span style=" ;">填写发送对象：可以通过 <span style="color:#548dd4">好友管理</span> 和 <span style="color:#548dd4">群组管理 </span>获得发送目标的 id 进行填写，说个 id 用</span>
</p>
<p>
	<span style=" ;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;英文 <strong><span style="color:#548dd4">; </span></strong>间隔</span>
</p>
<p>
	<span style=" ;">延迟发送：填入延迟的秒数，消息将在设定的秒数之后发出</span>
</p>
<p>
	<span style=" ;">选择 文本，图片或者地址，填写要发送的内容即可将消息发送</span>
</p>
<p>
	<span style=" ;">
		<br/>
	</span>
</p>
<p>
	<span style=" ;color:#ff0000">一键群发：</span>
</p>
<p>
	<span style=" ;">&nbsp; &nbsp; &nbsp; &nbsp; 群发送中，群发对象可以选择所有好友，所有群或者所有可发送对象，此操作影响较大，</span>
</p>
<p>
	<span style=" ;">所以目前限制每天只能使用一次</span>
</p>
<p>
	<span style=" ;">
		<br/>
	</span>
</p>
<p>
	<span style=" ;"></span>
</p>
<p style="white-space: normal;">
	<span style=" ; color: rgb(255, 0, 0);">批量群发：</span>
</p>
<p style="white-space: normal;">
	<span style=" ;">&nbsp; &nbsp; &nbsp; &nbsp; 批量群发中，将想发送的内容一行一行粘贴到内容框中，填写好发送对象后，点击发送，</span>
</p>
<p style="white-space: normal;">
	<span style=" ;">输入的内容将按照预定的间隔时间逐条发出</span>
</p>
<p style="white-space: normal;">
	<span style=" ;">
		<br/>
	</span>
</p>
<p>
	<span style=" ;color:#ff0000">自动 Web微信 验证登录</span>
</p>
<p>
	<span style=" ;">&nbsp; &nbsp; &nbsp; &nbsp; 如果想查看账户目前的情况和与用户互动，填写登录二维码地址即可自动登录 Web 端</span>
</p>
<p>
	<span style=" ;">
		<br/>
	</span>
</p>
<p>
	<br/>
</p>
<p>
	<br/>
</p>
<p>
	<br/>
</p>