<div class="chat">
	<h3 class="chat-tofriend-nickname">{{vm.toFriend.nickName}}</h3>
	<ul class="chat-messages">
		<li class="chat-message-item" ng-repeat="message in vm.messages track by $index">
			<img ng-src="{{vm.toFriend.avatar}}" class="avatar" alt="nickName" title="nickName" ng-show="!message.fromMe">
			<img ng-src="{{vm.inputMessage.avatar}}" class="pull-right avatar" alt="nickName" title="nickName" ng-show="message.fromMe">
			<p class="label relative" ng-class="{'label-info friend-message': !message.fromMe,'label-success pull-right my-message': message.fromMe}" ng-bind-html="message.content | trustHtml"></p>
		</li>
	</ul>
	<div class="input-group chat-input-container">
		<textarea class="outline-none" rows="6" maxlength="1500" ng-model="vm.inputMessage.content" ng-keyup=" vm.processMessage($event)"></textarea>
		<span class="chat-input-tips unselectable">Alt + Enter 换行</span>
		<md-button class="md-raised md-primary chat-input-send" ng-click="vm.processMessage()">&#8629; 发送</md-button>
	</div>
</div>