<div>
	<ul class="list-group">
		<li class="list-group-item repeat" ng-repeat="item in vm.items">
			{{item.key}}  : {{item.value}}
			<button type="button" class="close" ng-click="vm.delItem($index)">
			&times;
			</button>
		</li>
	</ul>
	<form ng-submit="vm.addItem()">
		<input type="text" class="form-control" name="keyword" placeholder="key" ng-model="vm.formData.keyword">
		<input type="text" class="form-control" name="roomId" placeholder="value" ng-model="vm.formData.roomId">
		<button type="submit" class="btn btn-success">
		添加
		</button>
	</form>
	<button class="btn btn-success"  ng-click="vm.setNameGroup()">
	保存
	</button>
</div>